version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: abdullah2006ali
      POSTGRES_DB: docker
    volumes:
      - pgdata:/var/lib/postgresql/data
    
  app:
    build: .
    container_name: node-app
    environment:
      DB_HOST: postgres
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    
volumes:
  pgdata: